<ul class="menu">
  <li title="Bandas">
    <a href="#" routerLink="/listaBanda" class="search">Bandas</a>
  </li>
  <li title="Albumes"><a href="#" class="pencil">Albumes</a></li>
  <li title="Canciones"><a href="#" class="active about">Canciones</a></li>
  <li title="Cantantes"><a href="#" class="archive">Cantantes</a></li>
  <li title="Votar"><a href="#" class="contact">Votar</a></li>
</ul>

<!--  <ul class="menu-bar">
      <li><a href="#" class="menu-button">Menu</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Editorial</a></li>
      <li><a href="#">About</a></li>
  </ul> -->
