<mat-card>
  <mat-card-header>
    <mat-card-title>{{ cancion.Nombre | uppercase }}</mat-card-title>
    <mat-card-subtitle>Duracion: {{ cancion.Duracion }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="cancion.Dato" alt="" />
  </div>
  <mat-card-content>
    <p>Año de creación: {{ cancion.Anio }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      color="primary"
      routerLink="/canciones/{{ cancion.Id }}"
      >Escribir reseña</a
    >
  </mat-card-actions>
</mat-card>
