<div class="listaTituloBox">
  <h6 class="listaTitulo">Lista de Canciones</h6>
</div>

<mat-form-field appearance="outline">
  <mat-icon matPrefix>search</mat-icon>
  <mat-label> Filtra por nombre de Cancion</mat-label>
  <input id="filtroCards" matInput placeholder="Ej.: Yesterday" />
</mat-form-field>

<div class="cancion-grid">
  <ng-container *ngFor="let cancion of canciones">
    <ng-container
      *ngIf="
        cancion.Nombre.toLowerCase().includes(this.filtro_nombre.toLowerCase())
      "
      ><app-cancion [cancion]="cancion"> </app-cancion
    ></ng-container>
  </ng-container>
</div>
