<div class="listaTituloBox">
  <h6 class="listaTitulo">Lista de Cantantes</h6>
</div>

<mat-form-field appearance="outline">
  <mat-icon matPrefix>search</mat-icon>
  <mat-label> Filtra por nombre de Cantante</mat-label>
  <input id="filtroCards" matInput placeholder="Ej.: John" />
</mat-form-field>

<div class="integrante-grid">
  <ng-container *ngFor="let integrante of integrantes">
    <ng-container
      *ngIf="
        integrante.Persona.Nombre.toLowerCase().includes(
          this.filtro_nombre.toLowerCase()
        ) ||
        integrante.Persona.Apellido.toLowerCase().includes(
          this.filtro_nombre.toLowerCase()
        ) ||
        (
          integrante.Persona.Nombre.toLowerCase() +
          integrante.Persona.Apellido.toLowerCase()
        ).includes(this.filtro_nombre.toLowerCase()) ||
        (
          integrante.Persona.Nombre.toLowerCase() +
          ' ' +
          integrante.Persona.Apellido.toLowerCase()
        ).includes(this.filtro_nombre.toLowerCase())
      "
      ><app-integrante [integrante]="integrante"> </app-integrante
    ></ng-container>
  </ng-container>
</div>
