<div class="listaTituloBox">
  <h6 class="listaTitulo">Iniciar Sesión</h6>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Ingresa tus datos de usuario</mat-card-title>
  </mat-card-header>

  <p *ngIf="hideMsg == true">
    <mat-error>
      El nombre de usuario u contraseña es incorrecto, reintenta nuevamente
    </mat-error>
  </p>

  <mat-card-content>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nombre de Usuario</mat-label>
        <input
          matInput
          [formControl]="userNameField"
          [errorStateMatcher]="matcher"
          id="nombreUsuario"
          placeholder="jPerez"
        />
        <mat-hint>Entre 3 y 20 caracteres</mat-hint>
        <mat-error *ngIf="userNameField.hasError('required')">
          Nombre de Usuario es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <!-- <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nombre de Usuario</mat-label>
        <input id="nombreUsuario" matInput placeholder="juanPerez" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Contraseña</mat-label>
        <input id="contrasenia" matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </p> -->

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [formControl]="userPassField"
          [errorStateMatcher]="matcher"
          id="contrasenia"
          placeholder="Perez"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>Entre 3 y 20 caracteres</mat-hint>
        <mat-error *ngIf="userPassField.hasError('required')">
          Contraseña es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <mat-card-actions>
      <button
        *ngIf="isBotonIngresarMostrar"
        mat-raised-button
        color="primary"
        (click)="iniciarSesionUsuario()"
      >
        Ingresar
      </button>
      <button *ngIf="!isBotonIngresarMostrar" mat-raised-button disabled>
        Crear Usuario
      </button>
      <a mat-stroked-button color="primary" routerLink="/home">Volver</a>
    </mat-card-actions>
  </mat-card-content>

  <div mat-dialog-actions>
    <a routerLink="/usuario/registro">¿No tienes usuario? Registrate aquí</a>
  </div>
</mat-card>
