<app-top-bar></app-top-bar>

<app-banda></app-banda>



<!-- <app-top-bar></app-top-bar>

<div class="cuerpo">
  <div class="menu-lateral">
    <app-menu-lateral></app-menu-lateral>
  </div>
  <div class="container">
    <router-outlet></router-outlet> -->
    
    
    <!-- 
    {{ title }} 
    {{ items }} 
    <ul>
      <li *ngIf="items.length === 0">Lista vacia... Add Item</li>
      <li *ngFor="let name of items; index as i">
        {{ name }}  {{ i }}  
        <button (click)="deleteItem(i)">Eliminar</button>
      </li>
    </ul>


    <button (click)="addItem()">Add Item</button>
    <p>hola fin</p>


    <div *ngFor="let banda of bandas">
        {{ banda.nombre }}
    </div>
 -->
  
 <!--  </div>
</div>
 -->
