<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav class="navDesk">
        <a
          class="titleDesk"
          routerLink="/"
          matTooltip="Ir al inicio"
          matTooltipClass="tooltip"
          matTooltipShowDelay="500"
          matTooltipHideDelay="500"
        >
          <img
            class="top-bar-icon"
            src="assets/images/Itunes-music-app-icon.png"
            alt="AppIcon"
          />
          App de Musica
        </a>
        <!-- <a mat-button routerLink="/home" routerLinkActive="active">Home</a> -->
        <a
          class="menuDesk"
          mat-button
          routerLink="/bandas"
          routerLinkActive="active"
          matTooltip="Lista de Bandas"
          matTooltipClass="tooltip"
          matTooltipShowDelay="500"
          matTooltipHideDelay="500"
          *ngIf="isMostrarBotones"
        >
          Bandas</a
        >
        <a
          class="menuDesk"
          mat-button
          routerLink="/albumes"
          routerLinkActive="active"
          matTooltip="Lista de Albumes"
          matTooltipClass="tooltip"
          matTooltipShowDelay="500"
          matTooltipHideDelay="500"
          *ngIf="isMostrarBotones"
          >Albumes</a
        >
        <a
          class="menuDesk"
          mat-button
          routerLink="/canciones"
          routerLinkActive="active"
          matTooltip="Lista de Canciones"
          matTooltipClass="tooltip"
          matTooltipShowDelay="500"
          matTooltipHideDelay="500"
          *ngIf="isMostrarBotones"
          >Canciones</a
        >
        <a
          class="menuDesk"
          mat-button
          routerLink="/cantantes"
          routerLinkActive="active"
          matTooltip="Lista de Cantantes"
          matTooltipClass="tooltip"
          matTooltipShowDelay="500"
          matTooltipHideDelay="500"
          *ngIf="isMostrarBotones"
          >Cantantes</a
        >
      </nav>

      <ng-container *ngIf="isMostrarBotones">
        <button
          class="menuMobile"
          mat-button
          mat-stroked-button
          [matMenuTriggerFor]="aboveMenu"
        >
          Listados
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item routerLink="/bandas" routerLinkActive="active">
            Bandas
          </button>

          <button mat-menu-item routerLink="/albumes" routerLinkActive="active">
            Albumes
          </button>

          <button
            mat-menu-item
            routerLink="/canciones"
            routerLinkActive="active"
          >
            Canciones
          </button>

          <button
            mat-menu-item
            routerLink="/cantantes"
            routerLinkActive="active"
          >
            Cantantes
          </button>
        </mat-menu>
      </ng-container>

      <button id="botonUserName" mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon matPrefix>insert_emoticon</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/usuario/login"
          routerLinkActive="active"
          *ngIf="isMostrarBotonesWhenHasSession"
        >
          <mat-icon>login</mat-icon>
          Iniciar Sesión
        </button>
        <button
          mat-menu-item
          routerLink="/usuario/registro"
          routerLinkActive="active"
          *ngIf="isMostrarBotonesWhenHasSession"
        >
          <mat-icon>person_add_alt_1</mat-icon>
          Registrarme
        </button>
        <button
          mat-menu-item
          routerLink="/usuario/usuario"
          routerLinkActive="active"
          *ngIf="isMostrarBotones"
        >
          <mat-icon>manage_accounts</mat-icon>
          Mi Usuario
        </button>
        <button
          (click)="cerrarSesion()"
          mat-menu-item
          routerLink="/home"
          routerLinkActive="active"
          *ngIf="isMostrarBotones"
        >
          <mat-icon>logout</mat-icon>
          Cerrar Sesión
        </button>
      </mat-menu>

      <!-- <a mat-raised-button routerLink="/usuario" routerLinkActive="active">
        <mat-icon>face</mat-icon>
        Mi Usuario
      </a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/bandas" routerLinkActive="active">Bandas</a>
  <a routerLink="/albumes" routerLinkActive="active">Albumes</a>
  <a routerLink="/canciones" routerLinkActive="active">Canciones</a>
  <a routerLink="/cantantes" routerLinkActive="active">Cantantes</a>
</nav>
 -->
