<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a routerLink="/">
          <img
            class="top-bar-icon"
            src="assets/images/Itunes-music-app-icon.png"
            alt="AppIcon"
          />
          App de Musica
        </a>
        <!-- <a mat-button routerLink="/home" routerLinkActive="active">Home</a> -->
        <a mat-button routerLink="/bandas" routerLinkActive="active">Bandas</a>
        <a mat-button routerLink="/albumes" routerLinkActive="active"
          >Albumes</a
        >
        <a mat-button routerLink="/canciones" routerLinkActive="active"
          >Canciones</a
        >
        <a mat-button routerLink="/cantantes" routerLinkActive="active"
          >Cantantes</a
        >
      </nav>
      <a mat-raised-button routerLink="/login" routerLinkActive="active">
        <mat-icon>face</mat-icon>
        Usuario
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/bandas" routerLinkActive="active">Bandas</a>
  <a routerLink="/albumes" routerLinkActive="active">Albumes</a>
  <a routerLink="/canciones" routerLinkActive="active">Canciones</a>
  <a routerLink="/cantantes" routerLinkActive="active">Cantantes</a>
</nav>
 -->
