@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);

nav > a {
  padding: 5px;
  text-decoration: none;
  color: white;
  vertical-align: -moz-middle-with-baseline;
}

nav > a > img {
  float: left;
  margin-top: 4.5px;
}

nav > a.active {
  /*   padding: 5px;
  text-decoration: none; */
  background-color: rgb(43, 43, 139);
  /*   color: white; */
}

.header-row {
  width: 100%;
}

.header-toolbar {
  margin-bottom: 20px;
}

.top-bar-icon {
  width: 36px;
}

.mat-toolbar {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.mat-raised-button {
  color: mat-color($primary);
}
