<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3><mat-icon>music_note</mat-icon>Musica</h3>
          <ul>
            <li>
              <a routerLink="/bandas" routerLinkActive="active">Bandas</a>
            </li>
            <li>
              <a routerLink="/albumes" routerLinkActive="active">Albumes</a>
            </li>
            <li>
              <a routerLink="/canciones" routerLinkActive="active">Canciones</a>
            </li>
            <li>
              <a routerLink="/cantantes" routerLinkActive="active">Cantantes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3><mat-icon>home</mat-icon>Acerca de "App de Musica"</h3>
          <ul>
            <li>
              <a routerLink="/about-us" routerLinkActive="active"
                >Sobre nosotros</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3><mat-icon>face</mat-icon>Opciones de Ususuario</h3>
          <ul>
            <li>
              <a routerLink="/login" routerLinkActive="active">Mi usuario</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
