<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4" *ngIf="isMostrarBotones">
        <div class="box">
          <h3><mat-icon>music_note</mat-icon>Musica</h3>
          <ul>
            <li>
              <a routerLink="/bandas" routerLinkActive="active">Bandas</a>
            </li>
            <li>
              <a routerLink="/albumes" routerLinkActive="active">Albumes</a>
            </li>
            <li>
              <a routerLink="/canciones" routerLinkActive="active">Canciones</a>
            </li>
            <li>
              <a routerLink="/cantantes" routerLinkActive="active">Cantantes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3><mat-icon>home</mat-icon>Acerca de "App de Musica"</h3>
          <ul>
            <li>
              <a routerLink="/about-us" routerLinkActive="active"
                >Sobre nosotros</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3 id="footerUserName">
            <mat-icon>insert_emoticon</mat-icon>Opciones de Usuario
          </h3>

          <ul>
            <li *ngIf="isMostrarBotonesWhenHasSession">
              <a routerLink="/usuario/login" routerLinkActive="active"
                >Iniciar Sesión</a
              >
            </li>
            <li *ngIf="isMostrarBotonesWhenHasSession">
              <a routerLink="/usuario/registro" routerLinkActive="active"
                >Registrarme</a
              >
            </li>
            <li *ngIf="isMostrarBotones">
              <a routerLink="/usuario/usuario" routerLinkActive="active"
                >Mi usuario</a
              >
            </li>
            <li *ngIf="isMostrarBotones">
              <a routerLink="/home" (click)="cerrarSesion()">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
